# ======================
# Ignore everything
# ======================

*

# ======================
# Allow only these
# ======================

# git Files
# ======================

!.gitignore
!.gitattributes

# Projcet Files
# ======================

!README.md
